.products-ex {
    display: flex;
    flex-direction: column;
    margin: 5rem auto 1rem;
    max-width: 1280px;
    gap: 2rem;
    animation: fadeUp 1.2s ease;

}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 2rem;
    grid-auto-rows: 400px;
    margin: 2rem;
}

.grid-p-b {
    position: relative;
    grid-column: 1/3;
    overflow: hidden;
    cursor: pointer;
}

.grid-p-b:hover .img-best-prod {
    transform: scale(1.04);
}

.img-best-prod {
    position: absolute;
    z-index: -2;
    width: 100%;
    border-radius: 1.5rem;
    object-position: center;
    object-fit: cover;
    height: 100%;
    transition: transform 0.6s ease-in-out;
}

.cont-pro {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: flex-end;
    gap: 1rem;
    height: 100%;
    padding: 3rem;
}

.best-seller {
    color: var(--white);
    background-color: var(--blue);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 1.5rem;
    opacity: 0.9;

}

.grid-be-se-h3 {
    font-size: 2rem;
    color: var(--white);
}

.g {
    border-radius: 1.5rem;
}

.p-p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: var(--gr);
}

.star {
    fill: #ffdbcc;
}

.price-p-b {
    color: rgb(226 223 255);
}

.grid-products {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 0.5rem;
    background-color: rgb(229 238 255);
    height: 100%;
    box-sizing: border-box;
}

.p-gridd-prod {
    padding-top: 1rem;
    font-weight: 300;
}

.price-grid-products {
    padding-bottom: 1rem;
    color: var(--blue);
    font-weight: 700;
}

.img-prooo {
    overflow: hidden;
    border-radius: 1rem;
}

.img-proo {
    display: block;
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: transform 0.6s ease;
    cursor: pointer;
}

.grid-products:hover .img-proo {
    transform: scale(1.04);
}

.button-grid {
    border: 1px solid var(--blue);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--blue);
    font-size: 1rem;
    background-color: rgb(229 238 255);
    transition: all 0.4s ease;
}

.button-grid:hover {
    background-color: var(--blue);
    color: white;
    cursor: pointer;
}

@media (min-width:368px) and (max-width:768px) {
    .products-grid {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    .grid-p-b {
        grid-column: revert;
    }

    .best-seller {
        font-size: 0.7rem;
    }

    .grid-be-se-h3 {
        font-size: 1.3rem;
    }

    .p-p {
        font-size: 0.8rem;
    }

    .star {
        width: 15px;
        height: 15px;
    }
}