.support {
    background-color: var(--blue);
    animation: fadeUp 1.6s ease;

}

.support-sup {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 1280px;
    margin: 0 auto;
    gap: 2rem;
}

.verified {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 1rem;
    text-align: center;
}

.sup-h2 {
    color: var(--white);
}

.sup-p {
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

.svg-sup {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.6rem;
    border-radius: 100%;
}